a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: "メイリオ", sans-serif;
}

li {
    list-style: none;
}

.header {
    background-color: #000;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1399px) {
    .header__inner {
        height: 60px;
        margin: 0 auto;
        min-width: 758px;
        max-width: 850px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }


    .header__inner img {
        width: 276px;
        height: 27px;
        vertical-align: middle;
    }

    .header__inner__form {
        height: 36px;
        width: 25%;
    }

    .header__inner__form--search {
        width: 92%;
        height: 100%;
        border-radius: 4px;
        border: none;
        padding: 0 4%;
        font-size: 18px;
    }

    .header__inner__nav {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 240px;
        padding-right: 22px;
    }

    .header__inner__nav__item {
        color: #fff;
        font-size: 16px;
        border: none;
        text-decoration: none;
        background: none;
    }

    .header__inner__nav__button {
        background: #fff;
        color: #000;
        font-size: 16px;
        width: 72px;
        height: 36px;
        border-radius: 4px;
    }

}

@media screen and (min-width: 1400px) {
    .header__inner {
        height: 80px;
        margin: 0 auto;
        max-width: 1540px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__inner img {
        width: 370px;
        height: 36px;
        margin-left: 22px;
        vertical-align: middle;
    }

    .header__inner__form {
        height: 50px;
        width: 40%;
    }

    .header__inner__form--search {
        width: 96%;
        height: 100%;
        border-radius: 5px;
        border: none;
        padding: 0 2%;
        font-size: 24px;
    }

    .header__inner__nav {
        justify-content: space-between;
        display: flex;
        align-items: center;
        width: 360px;
        padding-right: 22px;
    }

    .header__inner__nav__item {
        color: #fff;
        font-size: 24px;
        border: none;
        text-decoration: none;
        background: none;
        padding:0 ;
        cursor: pointer;
    }

    .header__inner__nav__button {
        background: #fff;
        color: #000;
        font-size: 24px;
        width: 100px;
        height: 50px;
        border-radius: 4px;
    }
}




