@media screen and (max-width: 1399px) {
    .content {
        width: 740px;
        margin: 90px auto 0;
        display: flex;
        align-items: flex-start;
    }

    .content__left {
        width: 370px;
        padding: 27px 30px;
    }

    .content__left__photo {
        width: 310px;
        height: 310px;
        border-radius: 4px;
        overflow: hidden;
        background: #d9d9d9;
    }

    .content__left__photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content__right {
        width: 370px;
        padding: 0px 40px;
    }

    .content__right h2 {
        color: #000;
        font-size: 27px;
        font-weight: bold;
        margin: 39px 0 9px;
    }

    .content__right h3 {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .content__right__title {
        color: #000;
        font-size: 33px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .content__right__brand {
        color: #000;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }

    .content__right__price {
        color: #000;
        font-size: 33px;
        padding: 0;
        margin: 21px 0 0 0;
    }

    .content__right__price span {
        font-size: 24px;
    }

    .content__right__table {
        border: none;
        margin-top: 15px;
    }

    .content__right__table td {
        text-align: center;
        width: 69px;
        padding: 0;
    }

    .content__right__table--button {
        border: none;
        background: none;
    }

    .content__right__table img {
        height: 30px;
    }

    .content__right__button {
        width: 100%;
        height: 42px;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background: #ff5555;
        border: none;
    }

    .content__right__button--sold {
        width: 100%;
        height: 42px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 42px;
        color: #777;
        background: #ccc;
        border: none;
    }

    .content__right__description {
        color: #000;
        font-size: 18px;
        margin: 15 0 15px;
    }

    .content__right__category {
        display: flex;
        margin: 15px 0;
    }

    .content__right__category h3 {
        flex: 0 0 auto;
        margin: 0 12px 0 0;
    }

    .content__right__category--list {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
    .content__right__category--tag {
        white-space: nowrap;
        background: #d9d9d9;
        height: 24px;
        font-size: 15px;
        padding: 0 15px;
        margin: 0 6px;
        border-radius: 12px;
    }

    .content__right__condition {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 15px 0;
    }

    .content__right__condition h3 {
        white-space: nowrap;
        margin: 0 18px 0 0;
    }
    .content__right__condition--tag {
        white-space: nowrap;
        font-size: 15px;
        padding: 0;
        margin: 0 6px;
    }

    .content__right__comment {
        color: #5f5f5f;
        font-size: 27px;
        font-weight: bold;
        margin: 39px 0 10px;
    }

    .content__right__user {
        display: flex;
        align-items: center;
    }

    .content__right__user--avatar {
        background: #d9d9d9;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        overflow: hidden;
    }

    .content__right__user--avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content__right__user--name {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 0 15px;
    }

    .content__right__text {
        padding: 8px;
        margin: 8px 0 24px;
        font-size: 15px;
        background: #e5e5e5;
        border-radius: 5px;
    }

    .content__right__textarea {
        width: 100%;
        height: 156px;
        font-size: 15px;
    }

    .content__right__error {
        color: red;
        font-size: 18px;
        margin: 8px 0 0;
    }
}

@media screen and (min-width: 1400px) {
    .content {
        width: 1360px;
        margin: 90px auto 0;
        max-width: 1540px;
        display: flex;
        align-items: flex-start;
    }

    .content__left {
        width: 690px;
        padding: 36px 45px;
    }

    .content__left__photo {
        width: 600px;
        height: 600px;
        border-radius: 4px;
        overflow: hidden;
        background: #d9d9d9;
    }

    .content__left__photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content__right {
        width: 690px;
        padding: 0px 60px;
    }

    .content__right h2 {
        color: #000;
        font-size: 36px;
        font-weight: bold;
        margin: 52px 0 12px;
    }

    .content__right h3 {
        color: #000;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    .content__right__title {
        color: #000;
        font-size: 45px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .content__right__brand {
        color: #000;
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .content__right__price {
        color: #000;
        font-size: 45px;
        padding: 0;
        margin: 28px 0 0 0;
    }

    .content__right__price span {
        font-size: 30px;
    }

    .content__right__table {
        border: none;
        margin-top: 20px;
    }

    .content__right__table td {
        text-align: center;
        width: 90px;
        padding: 0;
    }

    .content__right__table--button {
        border: none;
        background: none;
    }

    .content__right__table img {
        height: 40px;
    }

    .content__right__button {
        width: 100%;
        height: 56px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        background: #ff5555;
        border: none;
    }

    .content__right__button--sold {
        width: 100%;
        height: 56px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 56px;
        color: #777;
        background: #ccc;
        border: none;
    }

    .content__right__description {
        color: #000;
        font-size: 24px;
        margin: 20 0 20px;
    }

    .content__right__category {
        display: flex;
        margin: 20px 0;
    }

    .content__right__category h3 {
        flex: 0 0 auto;
        margin: 0 16px 0 0;
    }

    .content__right__category--list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .content__right__category--tag {
        white-space: nowrap;
        background: #d9d9d9;
        height: 30px;
        font-size: 20px;
        padding: 0 20px;
        margin: 0 6px;
        border-radius: 15px;
    }

    .content__right__condition {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 20px 0;
    }

    .content__right__condition h3 {
        white-space: nowrap;
        margin: 0 24px 0 0;
    }

    .content__right__condition--tag {
        white-space: nowrap;
        font-size: 20px;
        padding: 0;
        margin: 0 6px;
    }

    .content__right__comment {
        color: #5f5f5f;
        font-size: 36px;
        font-weight: bold;
        margin: 52px 0 10px;
    }

    .content__right__user {
        display: flex;
        align-items: center;
    }

    .content__right__user--avatar {
        background: #d9d9d9;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
    }

    .content__right__user--avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content__right__user--name {
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 0 20px;
    }

    .content__right__text {
        padding: 10px;
        margin: 10px 0 30px;
        font-size: 20px;
        background: #e5e5e5;
        border-radius: 5px;
    }

    .content__right__textarea {
        width: 100%;
        height: 246px;
        font-size: 20px;
    }

    .content__right__error {
        color: red;
        font-size: 24px;
        margin: 10px 0 0;
    }
}

.content button {
    cursor: pointer;
}
