p {
    margin: 0px;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 1540;
    min-width: 1400px;
}

.content__menu {
    border-bottom: 1px solid #000;
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
}

.content__menu__item {
    color: #000;
    margin-right: 50px;
}

.content__menu__item--select {
    color: red;
    margin-right: 50px;
}

.content__product {
    margin: 50px auto 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.content__product__thumb {
    width: 200px;
}

.content__product__thumb img {
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    object-position: center;
}