
.login-content {
    margin: 0 auto;
    padding: 0px;
    width: 80%;
    }

.login-content__inner {
    margin: 120px auto 0;
    width: 100%;
    max-width: 680px;
    min-width: 480px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

label {
    font-size: 24px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    height: 57px;
    margin-bottom: 50px;
    border: solid 1px #000;
    font-size: 24px;
}

button {
    text-align: center;
    width: 100%;
    height: 65px;
    margin: 30px 0;
    background-color: #FF5555;
    color: #FFF;
    border: none;
    font-size: 24px;
}

.login-content__inner__register {
    text-align: center;
}

a {
    color: #0073CC;
    font-size: 20px;
}

span {
    margin-left: 40px;
    color:red;
    font-size: 20px;
}